@model HRPortal.Models.Application

@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_Public.cshtml";
}

    <div class="jumbotron">
        <h1 class="sgi">SG INDUSTRIES, LTD</h1>
        <h2 class="tagline">BUILDERS OF GREAT STUFF</h2>
    </div>
    <div class="welcome">
        <p style="padding-bottom: 25px;">Welcome to SG Industries. We thank you for your interest in a career with our award winning, bleeding-edge, fantastically fabulous company.</p>
        
        <p style="padding-bottom: 25px;">Only the very best grace our halls. Our commitment to excellence is so demanding, even Tony Stark didn't make the cut.</p>

        <p style="text-align: center; padding-bottom: 25px;">Please click the button to apply for a great new job.</p>

        <p style="text-align: center;">
            <a href="/Home/Apply" class="btn btn-primary btn-lg btn-danger active" role="button">APPLY NOW</a>
        </p>
    </div>